.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/**.ts
**/*.map
node_modules/**
.github/**
*.vsix

.github/**
.husky/**
.yarn/**
.vscode/**
.vscode-test/**

**/*.ts
*.yml

src/**
out/**
test/**
typings/**
out/src/**
out/test/**
out/*.map

.gitignore
.prettierignore

tsconfig.json
webpack.*.js